.wrapper {
}
.content {
}
.grid {
	&__body {
		display: grid;

		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
	}
	&__item {
		text-align: center;
		border: 2px dashed;
		padding: 30px;
	}
}

.grid-wrapper {
}
.grid-header {
}
.grid-side {
}
.grid-content {
}
