@font-face {
    font-family: "font317d5480a545edf076e02aacd21f434f";

    src: url("https://nomail.com.ua/files/eot/317d5480a545edf076e02aacd21f434f.eot?#iefix") format("embedded-opentype"),
        url("https://nomail.com.ua/files/woff/317d5480a545edf076e02aacd21f434f.woff") format("woff"),
        url("https://nomail.com.ua/files/woff2/317d5480a545edf076e02aacd21f434f.woff2") format("woff2");
}

@font-face {
    font-family: "ProximaNova-Black";
    src: local("ProximaNova-Black"),
        url("https://nomail.com.ua/files/woff/317d5480a545edf076e02aacd21f434f.woff") format("woff");
}

@font-face {
    font-family: "fontdc38e71c06219d82fe9ec4c3375e98af";

    src: url("https://nomail.com.ua/files/eot/dc38e71c06219d82fe9ec4c3375e98af.eot?#iefix") format("embedded-opentype"),
        url("https://nomail.com.ua/files/woff/dc38e71c06219d82fe9ec4c3375e98af.woff") format("woff"),
        url("https://nomail.com.ua/files/woff2/dc38e71c06219d82fe9ec4c3375e98af.woff2") format("woff2");
}

@font-face {
    font-family: "ProximaNova-RegularCondensed";
    src: local("ProximaNova-RegularCondensed"),
        url("https://nomail.com.ua/files/woff/dc38e71c06219d82fe9ec4c3375e98af.woff") format("woff");
}
